# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Environment / secrets
.env
.env.*
!.env.example

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store

# Editor
.vscode/
.idea/

# Build outputs
ios/
android/
*.ipa
*.apk
*.aab

# Testing / coverage
coverage/
